<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta charset="UTF-8">
    <title>Smart Water Bowl</title>
</head>
<body>
    <header>  
        <h1>Smart Water Bowl</h1>
    </header>
    <div class="mainBody">
        <ul id="navigation">
        {% for item in wl_data %}
            <li><p>{{item.DateTime}}</p></li>
        {% endfor %}
        </ul>

        {% for item in img_data %}
            <img src={{item}}>
        {% endfor %}
    </div>
</body>
</html>